@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  margin: 0;

  /* background-image: url("/public/bg-texture.png"); */
  /* background: linear-gradient(
      to right,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  font-style: italic;
  font-size: 3rem;
}

h2 {
  font-style: normal;
  font-size: 2rem;
}

section {
  position: relative;
}

.custom-shape-divider-bottom-1707898194 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1707898194 svg {
  position: relative;
  display: block;
  width: calc(124% + 1.3px);
  height: 242px;
}

.custom-shape-divider-bottom-1707898194 .shape-fill {
  fill: #53df60;
}

.custom-shape-divider-top-1707898366 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  z-index: -2;
}

.custom-shape-divider-top-1707898366 svg {
  position: relative;
  display: block;
  width: calc(124% + 1.3px);
  height: 334px;
}

.custom-shape-divider-top-1707898366 .shape-fill {
  fill: #53df60;
}
